<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Formulario Gruas</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->

   <!--<link rel="shortcut icon" href="/static/images/fevicon.ico.png" type="image/x-icon" />-->

   <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
   <!-- Site CSS -->
   <link rel="stylesheet" href="/static/style.css"> 

   <link rel="stylesheet" href="/static/css/colors.css">

   <link rel="stylesheet" href="/static/css/versions.css">

   <link rel="stylesheet" href="/static/css/responsive.css"> 

   <link rel="stylesheet" href="/static/css/building.css">
   </head>

   <body class="building_version" data-spy="scroll" data-target=".header">

   {% with messages = get_flashed_messages()%}

    {% if messages %}
    <ul class=flashes>
        {% for message in messages%}
        <li> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endwith %}

      <style>
         .error {
             color: red;
        }
 
         .submit {
             text-decoration: none;
             padding: 10px;
             font-weight: 300;
             font-size: 20px;
             color: black;
             background-color: gold;
             border-radius: 6px;
             border: 2px solid rgba(0, 0, 0, 0.74);
         }
 
         .submit:hover {
             color: black;
             background-color: rgb(255, 235, 119);
             border: 2px solid rgba(0, 0, 0, 0.664);
         }

         .leadi {
            font-size: 18px;
            line-height: 30px;
            color: #767676;
            margin: 0;
            padding: 0;
         }

         .Campo{
             color: #000000;
         }
     </style>

      <header class="header header_style_01">
         <nav class="megamenu navbar navbar-default" data-spy="affix">
            <div class="top-header">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-hidden">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-hidden">
                           <div class="gem-contacts-item gem-contacts-phone">
                              <a class="navbar-brand" href="principal"><img src="/static/images/logo-icon.png" alt="image"><span>COMSEDI</span></a>
                              <a class="read-more" href="gruas">Regresar a Alquiler de Gruas<a>
                           </div>
                        </div>
                        <div class="top-area-block top-area-socials socials-colored-hover">
                           <div class="socials inline-inside"> 
                              <a class="socials-item" href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        
           
            <div id="contact" class="section wb">
                <div class="container">
                    <div class="section-title row text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>Solicitud de alquiler de gruas</h3>
                        </div>
                    </div>
                    
                    <div class="col-md-8">
                        <div class="contact_form">
                            <div id="message"></div>
                            <form class="row" action="{{ url_for('form_gruas') }}" name="contactform" method="post">
                                <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="Campo">Modelo:</label>
                                    <input type="number" id="modelo" name="modelo" min="1" max="2" value="{{ request.form.modelo }}">
                                    <br>
                                    <br>
                                    {% if error1 %}
                                    <p class=error> <strong> Error: </strong> {{ error1 }} </p>
                                    {% endif %}
                                    <label class="correccion" for="" id="r_modelo"></label>
                                    <br>
                                    <br>
                                    <label class="Campo">Cantidad de gruas:</label>
                                    <br>
                                    <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="{{ request.form.cantidad }}">
                                    <br>
                                    <br>
                                    {% if error2 %}
                                    <p class=error> <strong> Error: </strong> {{ error2 }} </p>
                                    {% endif %}
                                    <label class="correccion" id="r_cantidad"></label>
                                    <br><br>
                                    <label class="Campo">Ubicación:</label>
                                    <br>
                                    <input type="text" id="ubicacion" name="ubicacion" placeholder="Ubicación..." value="{{ request.form.ubicacion }}">
                                    <br>
                                    <br>
                                    {% if error3 %}
                                    <p class=error> <strong> Error: </strong> {{ error3 }} </p>
                                    {% endif %}
                                    <label class="correccion" id="r_ubicacion"></label>
                                    <br><br>
                                    <label class="Campo">Fecha:</label>
                                    <br>
                                    <input type="date" id="fecha" name="fecha" value="{{ request.form.fecha }}">
                                    <br>
                                    <br>
                                    {% if error4 %}
                                    <p class=error> <strong> Error: </strong> {{ error4 }} </p>
                                    {% endif %}
                                    <label class="correccion" id="r_fecha"></label>
                                    <br><br>
                                    <label class="Campo">Tiempo requerido(en horas):</label>
                                    <br>
                                    <input type="number" id="tiempo" name="tiempo" min="1" max="240" value="{{ request.form.tiempo }}">
                                    <br>
                                    
                                    {% if error5 %}
                                    <p class=error> <strong> Error: </strong> {{ error5 }} </p>
                                    {% endif %}
                                    <label class="correccion" id="r_tiempo"></label>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>

                                </fieldset>
                                <br>
                                <br>
                                <input class="submit" type="submit" value="Enviar formulario">
                            </form>
                            </div>
                        </div>
                    <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>


            </nav>
        </header>
        <script src="{{url_for('static', filename='script_form_gruas.js')}}"></script>
   </body>
</html>
