<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar grúa</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style_principal.css')}}">

</head>
<body>
    <class class="main__title">
        <h1>MODIFICAR UN ALQUIER</h1>
      </class>
      <form action="{{ url_for('modificar_grua') }}" method="post">
        <input type="hidden" name="ID" id="ID" value="{{ grua['id'] }}">
        <label class="viñeta">Modelo:</label>
        <input type="number" id="modelo" name="modelo" min="1" max="2" value="{{ grua['modelo']}}"><br>
        <label class="viñeta">Cantidad de gruas:</label>
        <input type="number" id="cantidad" name="cantidad" min="1" max="10" value="{{ grua['cantidad'] }}"><br>
        <label class="viñeta">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" placeholder="Ubicación..." value="{{ grua['ubicacion'] }}"><br>
        <label class="viñeta">Fecha:</label>
        <input type="date" id="fecha" name="fecha" value="{{ grua['fecha'] }}"><br>
        <label class="viñeta">Tiempo requerido(en horas):</label>
        <input type="number" id="tiempo" name="tiempo" min="1" max="240" value="{{ grua['tiempo'] }}"><br>
        <label class="viñeta">Comentario:</label>
        <input type="text" id="comentario" name="comentario" placeholder="Comentario..." value="{{ grua['comentario'] }}"><br>
        <br>
        <input class="submit" type="submit" value="Modificar">

    </form>

    </div>
</body>
</html>