<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Perfil Cliente</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->

   <!--<link rel="shortcut icon" href="/static/images/fevicon.ico.png" type="image/x-icon" />-->

   <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
   <!-- Site CSS -->
   <link rel="stylesheet" href="/static/style.css"> 

   <link rel="stylesheet" href="/static/css/colors.css">

   <link rel="stylesheet" href="/static/css/versions.css">

   <link rel="stylesheet" href="/static/css/responsive.css"> 

   <link rel="stylesheet" href="/static/css/building.css">
   </head>

   <body class="building_version" data-spy="scroll" data-target=".header">

      <style>
         .error {
             color: red;
        }
 
         .submit {
             text-decoration: none;
             padding: 10px;
             font-weight: 300;
             font-size: 20px;
             color: black;
             background-color: gold;
             border-radius: 6px;
             border: 2px solid rgba(0, 0, 0, 0.74);
         }
 
         .submit:hover {
             color: black;
             background-color: rgb(255, 235, 119);
             border: 2px solid rgba(0, 0, 0, 0.664);
         }

         .leadi {
            font-size: 18px;
            line-height: 30px;
            color: #767676;
            margin: 0;
            padding: 0;
         }

         th {
            width: 300px;
         }

         .titl {
            color: white;
            font-size: 40px;
         }

         .centr {
            text-align: center;
            color: #e8a900;
         }
     </style>

      <header class="header header_style_01">
         <nav class="megamenu navbar navbar-default" data-spy="affix">
            <div class="top-header">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-hidden">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-hidden">
                           <div class="gem-contacts-item gem-contacts-phone">
                              <a class="navbar-brand" href="principal"><img src="/static/images/logo-icon.png" alt="image"><span>COMSEDI</span></a>
                              <a class="read-more" href="principal">Regresar a la página principal<a>
                           </div>
                        </div>
                        <div class="top-area-block top-area-socials socials-colored-hover">
                           <div class="socials inline-inside"> 
                              <a class="socials-item" href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                           </div>
                           <a class="read-more" href="carrito">Mi Carrito<a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


    <footer id="footer">
         <div id="footer-widgets" class="container style-1">
            <div class="row">
               <div class="col-md-4">

                        <div class="container">
                            <div class="section-title row text-center">
                                <div class="col-md-8 col-md-offset-2">
                                    <h class="titl"><b>BIENVENIDO</b></h>
                                    <p class="lead">{{user}}</p>
                                    <p class="lead">{{email}}</p>
                                </div>
               <!-- end col -->
                            </div>
                        </div>


            
                  <div class="widget widget_text">
                     <h2 class="widget-title"><span>Mis solicitudes de alquileres</span></h2>
                     <div class="textwidget">

                     <!--Comentario para modificar
                        <table id="tabla" class="tabla" name="Registros" style="width:150%" border="1">
                            <tr>
                                <th class="centr">Modelo de grua</th>
                                <th class="centr">Cantidad</th>
                                <th class="centr">Ubicacion</th>
                                <th class="centr">Fecha</th>
                                <th class="centr">Tiempo requerido</th>
                                <th class="centr">Estado</th>
                                <th class="centr">Comentario</th>

                                {% for grua in dataGruas %}
                                    <tr>
                                        <th>{{grua["modelo"]}}</th>
                                        <th>{{grua["cantidad"]}}</th>
                                        <th>{{grua["ubicacion"]}}</th>
                                        <th>{{grua["fecha"]}}</th>
                                        <th>{{grua["tiempo"]}}</th>
                                        <th>{{grua["estado"]}}</th>
                                        <th>{{grua["comentario"]}}</th>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                        -->
                     </div>  
                  </div>

                  <div class="widget widget_text">
                     <h2 class="widget-title"><span>Mis cotizaciones de proyectos</span></h2>
                     <div class="textwidget">
                        <table id="tablaProy" class="tabla" name="RegistrosProy" style="width:150%" border="1">
                            <tr>
                                <th class="centr">Fecha envío solicitud </th>
                                <th class="centr">Tipo de cotización</th>
                                <th class="centr">Número telefónico</th>
                                <th class="centr">Fecha de inicio</th>
                                <th class="centr">Fecha final</th>
                                <th class="centr">Ubicación proyecto</th>
                                <th class="centr">Descripción</th>
                                <th class="centr">Estado</th>
                                <th class="centr">Comentario</th>

                                {% for proyecto in dataProyectos %}
                            <tr>
                                <th>{{proyecto["fecha_envio"]}}</th>
                                <th>{{proyecto["tipo"]}}</th>
                                <th>{{proyecto["numero"]}}</th>
                                <th>{{proyecto["fecha_inicio"]}}</th>
                                <th>{{proyecto["fecha_final"]}}</th>
                                <th>{{proyecto["ubicacion"]}}</th>
                                <th>{{proyecto["descripcion"]}}</th>
                                <th>{{proyecto["estado"]}}</th>
                                <th>{{proyecto["comentario"]}}</th>
                            </tr>
                        {% endfor %}
                            </tr>
                        </table>
                     </div>  
                  </div>
               </div>
            </div>
         </div>

         <div id="bottom" class="clearfix style-1">
            <div class="container">
               <div id="bottom-bar-inner" class="wprt-container">
                  <div class="bottom-bar-inner-wrap">
                     <div class="bottom-bar-content">
                        <div id="copyright">Todos los derechos reservados. COMSEDI © 2021</div>
                        <!-- /#copyright -->
                     </div>
                     <!-- /.bottom-bar-content -->
                     <!--
                     <div class="bottom-bar-menu pull-right">
                        <ul class="bottom-nav">
                           <li><a href="#/">HISTORY</a></li>
                           <li><a href="#/">FAQ</a></li>
                           <li><a href="#/">EVENTS</a></li>
                        </ul>
                     </div>
                     -->
                     <!-- /.bottom-bar-menu -->
                  </div>
               </div>
            </div>
         </div>
      </footer>
        
            
            
    


            </nav>
        </header>
         <script src="{{url_for('static', filename='script_perfil_cliente.js')}}"></script>
   </body>
</html>


  
