<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style_login.css">
</head>

<body>
    <div class="contenedorLoginRegister">
        <h2>Registrarse</h2>

        <form action="{{ url_for('register') }}" method="POST">
            <label class="blanco" for="user">Username:</label>
            <input type="text" name="user" id="user">
            <br><br>

            <label class="blanco" for="email">Email:</label>
            <input type="text" name="email" id="email">
            <br><br>

            <label class="blanco" for="password">Contraseña:</label>
            <input type="password" name="password" id="password">
            <br><br>

            <label class="blanco" for="confPassword">Confirmar contraseña:</label>
            <input type="password" name="confPassword" id="confPassword">
            <br><br>

            <input class="submit" type="submit" name="submit" value="Send">
        </form>
    </div>

</body>

</html>